/*
#logo {
    position: relative;
    float: left;
}
.topmenu {
    position: relative;
    float: left;
    margin: 0 auto;
}
.title {
    position: relative;
    float: left;
    margin: 0 auto;
}
.boxes {
    position: relative;
    float:left;
    margin: 0 auto;
}
.leftbox {
    position: relative;
    float: left;
}
.rightbox {
    position: relative;
    float: right;
}
footer section {
    position: relative;
    float: left;
    margin: 0 auto;
}
*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
