html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 160px);
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
    background-color: #ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #0000ff;
}

header * {
    z-index: 1;
}

main {
    position: absolute;
    top: 80px;
    width: 100%;
}

p {
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#toplogo {
    position: fixed;
    height: 54px;
    margin: 10px 10px 10px 10px;
}

#logout {
    position: fixed;
    top: 16px;
    right: 24px;
    border: solid 2.5px;
    padding: 10px;
    font-size: 20px;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border: 3px solid #00f;
}

article {
    position: absolute;
    display: block;
    left: 10%;
    width: 80%;
    height: 106px;
    margin: 25px auto;
    box-shadow: 0px 0px 5px #000;
}

article * {
    display: inline;
}

article p {
    position: absolute;
    left: 100px;
    margin: 20px;
}

.leftbox>* {
    display: block;
    float: left;
    text-align: left;
}

.rightbox>* {
    display: block;
    float: right;
    text-align: right;
}

#timebox {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: 36pt;
}

.button {
    position: relative;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    cursor: pointer;
    z-index: 11;
}

.ul-vertical {
    float: left;
    margin:  20%;
}

.ul-vertical li {
    display: block;
    width: 100%;
    text-align: center;
}

nav {
    position: relative;
    width: 100%;
}

main {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #0066FF;
}

#invisbutton {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    border: 0;
    padding: 0;
    background-color: transparent;
}