html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    background-color: #0000ff;
}

body {
    background-color: #ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#toplogo {
    height: 54px;
    margin: 10px 10px 10px 10px;
}

#topmenu {
    position: absolute;
    right: 10%;
    top: 0;
    width: 70%;
    margin: auto;
}

#topmenu ul {
    float: right;
    vertical-align: center;
}

#topmenu ul li {
    position: relative;
    display: inline;
    vertical-align: middle;
    margin: auto 10px;
    color: #fff;
}

#topmenu a {
    color: #fff;
}

.center {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0000ff;
}

img {
    border: 3px solid #00f;
}

article {
    position: static;
    left: 10%;
    width: 80%;
    height: 106px;
    margin: 25px auto;
    box-shadow: 0px 0px 5px #000;
}

article * {
    display: inline;
}

article p {
    display: inline;
    margin: 10px;
}

.leftbox>* {
    float: left;
    text-align: left;
}

.rightbox>* {
    float: right;
    text-align: right;
}

.ul-vertical li {
    display: block;
}

section {
    position: relative;
    width: 100%;
}

main {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #0066FF;
}